@page "/contatos"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorSQLServer.Models
@using BlazorSQLServer.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorSQLServer.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="contatos/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Contatos">
    <PropertyColumn Property="contato => contato.Nome" />
    <PropertyColumn Property="contato => contato.Email" />

    <TemplateColumn Context="contato">
        <a href="@($"contatos/edit?id={contato.Id}")">Edit</a> |
        <a href="@($"contatos/details?id={contato.Id}")">Details</a> |
        <a href="@($"contatos/delete?id={contato.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
